* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  max-height: 195px;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(243, 227, 87);
}

input {
  margin-right: 10px;
}

.gallery {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  margin-top: 50px;
  margin-bottom: 50px;
}

.photo-card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.wrap {
  flex-grow: 1;
}

.info {
  display: flex;
}

.info-item {
  text-align: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.btn {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #f0f0f0;
  background-color: #188ce8;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--duration) var(--timing-function);
}

.btn:hover {
  background-color: #1fe818;
}

.btn.load-more {
  margin-left: auto;
  margin-right: auto;
}
